html, body {
    height: 100%;
    margin: 0;
    background-color: #aebab0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}
.bg-light-green {
    background-color: #aebab0;
}

.text-dark-red {
    color: #c24e2e;
}

.text-dark-red:hover {
    color: #a03e25; 
    text-decoration: none;
}


footer p {
    margin-bottom: 0.5rem;
}


footer i {
    transition: color 0.3s ease;
}
